<div id="upper">
	<h1>検索</h1>
	<h2>検索対象</h2>
	<p class="name"></p>
	<p class="area"><select name="pref_name">
	<option value="取引先">取引先
	</option><option value="連絡先">連絡先
	</option><option value="商談">商談
	</option><option value="活動">活動
	</option></select></p>
</div>

<div class="middle">
<h2>検索条件</h2>
<p></p><form method="post" action="cgi-bin/aaa.cgi"><p></p>
<table>
<tbody><tr>
	<td>
		<p class="name">会社名</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
	<td>
		<p class="name">リードソース</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="lead_source">
		<option value="" label=""></option>
		<option value="Cold Call" label="勧誘電話">勧誘電話</option>
		<option value="Existing Customer" label="既存顧客">既存顧客</option>
		<option value="Self Generated" label="自然発生">自然発生</option>
		<option value="Employee" label="社員">社員</option>
		<option value="Partner" label="パートナー">パートナー</option>
		<option value="Public Relations" label="広報活動">広報活動</option>
		<option value="Direct Mail" label="ダイレクトメール">ダイレクトメール</option>
		<option value="Conference" label="カンファレンス">カンファレンス</option>
		<option value="Trade Show" label="展示会">展示会</option>
		<option value="Web Site" label="Webサイト">Webサイト</option>
		<option value="Word of mouth" label="口コミ">口コミ</option>
		<option value="Email" label="電子メール">電子メール</option>
		<option value="Campaign" label="キャンペーン">キャンペーン</option>
		<option value="Other" label="その他">その他</option>
		</select>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">分類</p>
			<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="pref_name">
			<option value="" label=""></option>
			<option value="本社">本社
			</option><option value="支社">支社
			</option><option value="コース">コース
			</option><option value="その他">その他
			</option></select></p>
	</td>
	<td>
		<p class="name">名称</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">都道府県</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="pref_name">
		<option value="" label=""></option>
		<option value="北海道">北海道
		</option><option value="青森県">青森県
		</option><option value="岩手県">岩手県
		</option><option value="宮城県">宮城県
		</option><option value="秋田県">秋田県
		</option><option value="山形県">山形県
		</option><option value="福島県">福島県
		</option><option value="茨城県">茨城県
		</option><option value="栃木県">栃木県
		</option><option value="群馬県">群馬県
		</option><option value="埼玉県">埼玉県
		</option><option value="千葉県">千葉県
		</option><option value="東京都">東京都
		</option><option value="神奈川県">神奈川県
		</option><option value="新潟県">新潟県
		</option><option value="富山県">富山県
		</option><option value="石川県">石川県
		</option><option value="福井県">福井県
		</option><option value="山梨県">山梨県
		</option><option value="長野県">長野県
		</option><option value="岐阜県">岐阜県
		</option><option value="静岡県">静岡県
		</option><option value="愛知県">愛知県
		</option><option value="三重県">三重県
		</option><option value="滋賀県">滋賀県
		</option><option value="京都府">京都府
		</option><option value="大阪府">大阪府
		</option><option value="兵庫県">兵庫県
		</option><option value="奈良県">奈良県
		</option><option value="和歌山県">和歌山県
		</option><option value="鳥取県">鳥取県
		</option><option value="島根県">島根県
		</option><option value="岡山県">岡山県
		</option><option value="広島県">広島県
		</option><option value="山口県">山口県
		</option><option value="徳島県">徳島県
		</option><option value="香川県">香川県
		</option><option value="愛媛県">愛媛県
		</option><option value="高知県">高知県
		</option><option value="福岡県">福岡県
		</option><option value="佐賀県">佐賀県
		</option><option value="長崎県">長崎県
		</option><option value="熊本県">熊本県
		</option><option value="大分県">大分県
		</option><option value="宮崎県">宮崎県
		</option><option value="鹿児島県">鹿児島県
		</option><option value="沖縄県">沖縄県
		</option></select> </p>
	</td>
	<td>
		<p class="name">市区町村</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">ビル名</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="btn"><input type="button" value="検索"></p>
	</td>
</tr>
</tbody></table>
</form>
</div>




<div class="middle middle2">
<h2>検索条件</h2>
<p></p><form method="post" action="cgi-bin/aaa.cgi"><p></p>
<table>
<tbody><tr>
	<td>
		<p class="name">会社名</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
	<td>
		<p class="name">リードソース</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="lead_source">
		<option value="" label=""></option>
		<option value="Cold Call" label="勧誘電話">勧誘電話</option>
		<option value="Existing Customer" label="既存顧客">既存顧客</option>
		<option value="Self Generated" label="自然発生">自然発生</option>
		<option value="Employee" label="社員">社員</option>
		<option value="Partner" label="パートナー">パートナー</option>
		<option value="Public Relations" label="広報活動">広報活動</option>
		<option value="Direct Mail" label="ダイレクトメール">ダイレクトメール</option>
		<option value="Conference" label="カンファレンス">カンファレンス</option>
		<option value="Trade Show" label="展示会">展示会</option>
		<option value="Web Site" label="Webサイト">Webサイト</option>
		<option value="Word of mouth" label="口コミ">口コミ</option>
		<option value="Email" label="電子メール">電子メール</option>
		<option value="Campaign" label="キャンペーン">キャンペーン</option>
		<option value="Other" label="その他">その他</option>
		</select>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">分類</p>
			<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="pref_name">
			<option value="" label=""></option>
			<option value="本社">本社
			</option><option value="支社">支社
			</option><option value="コース">コース
			</option><option value="その他">その他
			</option></select></p>
	</td>
	<td>
		<p class="name">名称</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">都道府県</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="pref_name">
		<option value="" label=""></option>
		<option value="北海道">北海道
		</option><option value="青森県">青森県
		</option><option value="岩手県">岩手県
		</option><option value="宮城県">宮城県
		</option><option value="秋田県">秋田県
		</option><option value="山形県">山形県
		</option><option value="福島県">福島県
		</option><option value="茨城県">茨城県
		</option><option value="栃木県">栃木県
		</option><option value="群馬県">群馬県
		</option><option value="埼玉県">埼玉県
		</option><option value="千葉県">千葉県
		</option><option value="東京都">東京都
		</option><option value="神奈川県">神奈川県
		</option><option value="新潟県">新潟県
		</option><option value="富山県">富山県
		</option><option value="石川県">石川県
		</option><option value="福井県">福井県
		</option><option value="山梨県">山梨県
		</option><option value="長野県">長野県
		</option><option value="岐阜県">岐阜県
		</option><option value="静岡県">静岡県
		</option><option value="愛知県">愛知県
		</option><option value="三重県">三重県
		</option><option value="滋賀県">滋賀県
		</option><option value="京都府">京都府
		</option><option value="大阪府">大阪府
		</option><option value="兵庫県">兵庫県
		</option><option value="奈良県">奈良県
		</option><option value="和歌山県">和歌山県
		</option><option value="鳥取県">鳥取県
		</option><option value="島根県">島根県
		</option><option value="岡山県">岡山県
		</option><option value="広島県">広島県
		</option><option value="山口県">山口県
		</option><option value="徳島県">徳島県
		</option><option value="香川県">香川県
		</option><option value="愛媛県">愛媛県
		</option><option value="高知県">高知県
		</option><option value="福岡県">福岡県
		</option><option value="佐賀県">佐賀県
		</option><option value="長崎県">長崎県
		</option><option value="熊本県">熊本県
		</option><option value="大分県">大分県
		</option><option value="宮崎県">宮崎県
		</option><option value="鹿児島県">鹿児島県
		</option><option value="沖縄県">沖縄県
		</option></select> </p>
	</td>
	<td>
		<p class="name">市区町村</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">ビル名</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="btn"><input type="button" value="検索"></p>
	</td>
</tr>
</tbody></table>
</form>
</div>



<div class="middle middle3">
<h2>検索条件</h2>
<p></p><form method="post" action="cgi-bin/aaa.cgi"><p></p>
<table>
<tbody><tr>
	<td>
		<p class="name">会社名</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
	<td>
		<p class="name">リードソース</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="lead_source">
		<option value="" label=""></option>
		<option value="Cold Call" label="勧誘電話">勧誘電話</option>
		<option value="Existing Customer" label="既存顧客">既存顧客</option>
		<option value="Self Generated" label="自然発生">自然発生</option>
		<option value="Employee" label="社員">社員</option>
		<option value="Partner" label="パートナー">パートナー</option>
		<option value="Public Relations" label="広報活動">広報活動</option>
		<option value="Direct Mail" label="ダイレクトメール">ダイレクトメール</option>
		<option value="Conference" label="カンファレンス">カンファレンス</option>
		<option value="Trade Show" label="展示会">展示会</option>
		<option value="Web Site" label="Webサイト">Webサイト</option>
		<option value="Word of mouth" label="口コミ">口コミ</option>
		<option value="Email" label="電子メール">電子メール</option>
		<option value="Campaign" label="キャンペーン">キャンペーン</option>
		<option value="Other" label="その他">その他</option>
		</select>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">分類</p>
			<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="pref_name">
			<option value="" label=""></option>
			<option value="本社">本社
			</option><option value="支社">支社
			</option><option value="コース">コース
			</option><option value="その他">その他
			</option></select></p>
	</td>
	<td>
		<p class="name">名称</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">都道府県</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <select name="pref_name">
		<option value="" label=""></option>
		<option value="北海道">北海道
		</option><option value="青森県">青森県
		</option><option value="岩手県">岩手県
		</option><option value="宮城県">宮城県
		</option><option value="秋田県">秋田県
		</option><option value="山形県">山形県
		</option><option value="福島県">福島県
		</option><option value="茨城県">茨城県
		</option><option value="栃木県">栃木県
		</option><option value="群馬県">群馬県
		</option><option value="埼玉県">埼玉県
		</option><option value="千葉県">千葉県
		</option><option value="東京都">東京都
		</option><option value="神奈川県">神奈川県
		</option><option value="新潟県">新潟県
		</option><option value="富山県">富山県
		</option><option value="石川県">石川県
		</option><option value="福井県">福井県
		</option><option value="山梨県">山梨県
		</option><option value="長野県">長野県
		</option><option value="岐阜県">岐阜県
		</option><option value="静岡県">静岡県
		</option><option value="愛知県">愛知県
		</option><option value="三重県">三重県
		</option><option value="滋賀県">滋賀県
		</option><option value="京都府">京都府
		</option><option value="大阪府">大阪府
		</option><option value="兵庫県">兵庫県
		</option><option value="奈良県">奈良県
		</option><option value="和歌山県">和歌山県
		</option><option value="鳥取県">鳥取県
		</option><option value="島根県">島根県
		</option><option value="岡山県">岡山県
		</option><option value="広島県">広島県
		</option><option value="山口県">山口県
		</option><option value="徳島県">徳島県
		</option><option value="香川県">香川県
		</option><option value="愛媛県">愛媛県
		</option><option value="高知県">高知県
		</option><option value="福岡県">福岡県
		</option><option value="佐賀県">佐賀県
		</option><option value="長崎県">長崎県
		</option><option value="熊本県">熊本県
		</option><option value="大分県">大分県
		</option><option value="宮崎県">宮崎県
		</option><option value="鹿児島県">鹿児島県
		</option><option value="沖縄県">沖縄県
		</option></select> </p>
	</td>
	<td>
		<p class="name">市区町村</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">ビル名</p>
		<p class="area"><input type="checkbox" value="その1" name="q1"> <input type="text" maxlength="20" size="50" name="name"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="btn"><input type="button" value="検索"></p>
	</td>
</tr>
</tbody></table>
</form>
</div>


<div id="lower">
<h2>取引先一覧</h2>
<table class="ichiran">
	<tbody><tr>
		<th>選択</th>
		<th>商談回数</th>
		<th>活動回数</th>
		<th>重要度</th>
		<th>会社名</th>
		<th>リードソース</th>
		<th>分類</th>
		<th>名称</th>
		<th>都道府県</th>
		<th>市区町村</th>
		<th>ビル名</th>
		<th>登録日</th>
	</tr>
    <% @customers.each do |customer| %>
	<tr>
		<td>
          <%= link_to '詳細', :controller => 'search', :action => 'show', :id => customer.id %>
		</td>
		<td>
			１０
		</td>
		<td>
			３０
		</td>
		<td>
			大
		</td>
		<td>
		   <%= customer.name %>
		</td>
		<td>
			口コミ
		</td>
		<td>
			本社
		</td>
		<td>
			lunasandの本社
		</td>
		<td>
			東京都
		</td>
		<td>
			千代田区
		</td>
		<td>
			ｘｘｘビル
		</td>
		<td>
			2011/12/16
		</td>
	</tr>
    <% end %>
</tbody>
</table>
</div>
