<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/5509-jQselectable-1e161fe/jqselectable/style/selectable/style.css" />
  <script src="/assets/5509-jQselectable-1e161fe/jqselectable/jqselectable.js"></script>
  <script type="text/javascript">
  </script>

  <!-- jQueryセレクトボックス拡張 -->
  <script type="text/javascript">
  jQuery(function($){
      //$(".pref").jQselectable();
  });

  </script>


</head>
<body>
<div id="container">
	<div id="header">
		<div id="gnavi">
		    <ul>
		        <li><a href="/customers/new"><img width="90" height="33" src="/assets/1.png"></a>
		        </li><li><a href="/search"><img width="90" height="33" src="/assets/2.png"></a>
		        </li><li><a href="/users"><img width="90" height="33" src="/assets/3.png"></a>
		        </li>
            </ul>
		</div>
	</div>

	<div id="register_wrapper">
		<div id="left">
		    <p><a href="/customers/new"><img width="120" height="33" src="/assets/a1.png"></a></p>
		    <p><a href="/contacts/new"><img width="120" height="33" src="/assets/a2.png"></a></p>
		    <p><a href="shou.html"><img width="120" height="33" src="/assets/a3.png"></a></p>
		    <p><a href="katu.html"><img width="120" height="33" src="/assets/a4.png"></a></p>
		</div>

		<div id="right">
          <%= yield %>
		</div>
	</div>
</div>



</body>
</html>

<script type="text/javascript">
var b_height = $('html').height();
var g_height = $('div#gnavi').height();
var height = b_height - 160;
$('div#register_wrapper').css('height', height);
</script>

